################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/config/applicationhost.config
/CarDataUpdateService/bin/Debug
/CarDataUpdateService/obj/x86/Debug
/CarDataUpdateTools/bin/Debug
/CarDataUpdateTools/obj/x86/Debug
/CarDataWebService/bin
/CarDataWebService/obj/Debug
