<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="QueueString" value=".\private$\ContentUpdateQueue"/>
        <!-- 线上配置 add by chengl May.7.2012
        <add key="QueueString" value=".\private$\CarDataUpdateService"/> -->
   
   <add key="DataPath" value="e:\data\"/>
 </appSettings>
  <connectionStrings>
    <add name="CarDataUpdateConnString" connectionString="Data Source=192.168.0.169\SQL2008;Initial Catalog=CarDataUpdate;User ID=sa;Password=sa;"/>
    <add name="AutoStroageConnString" connectionString="Data Source=192.168.0.40\SQL2005;Initial Catalog=AutoStorageNew;User ID=sa;Password=sa;"/>
    <add name="CarChannelConnString" connectionString="Data Source=192.168.0.40\SQL2005;Initial Catalog=AutoCarChannel;User ID=sa;Password=sa;"/>
  </connectionStrings>
 <applicationSettings>
  <ServiceTest.Properties.Settings>
   <setting name="ServiceTest_com_bitauto_dealer_api_GetFavourableNews"
    serializeAs="String">
    <value>http://api.dealer.bitauto.com/api/Service/GetFavourableNews.asmx</value>
   </setting>
  </ServiceTest.Properties.Settings>
 </applicationSettings>
</configuration>