<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="ConnectionStringSettings" type="BitAuto.CarDataUpdate.Config.ConnStringSettings, Config"/>
		<section name="CommonSettings" type="BitAuto.CarDataUpdate.Config.CommonSettings, Config"/>
		<section name="CarNewsTypeSettings" type="BitAuto.CarDataUpdate.Config.CarNewsTypeSettingsHandler, Config"/>
		<section name="NewsCategoryConfig" type="BitAuto.CarDataUpdate.Config.NewsCategoryConfigHandler, Config"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
	</configSections>
	<log4net configSource="config\log4net.config"/>
	<!--数据库连接字符串-->
	<ConnectionStringSettings configSource="config\ConnectionString.config"/>
	<!--数据库连接字符串 end-->
	<!--公用配置-->
	<CommonSettings configSource="config\Common.config"/>
	<!--公用配置 end-->
	<!--车型新闻类型配置-->
	<CarNewsTypeSettings configSource="config\CarNewsType.config"/>
	<!--车型新闻类型配置 end-->
	<!--cms分类配置-->
	<NewsCategoryConfig configSource="config\NewsCategory.config"/>
  <appSettings>
    <!--口碑印象字典url-->
    <add key="KeibeiImpressionWordDicUrl" value="http://image.bitautoimg.com/koubei/Statistics/serial/words/{year}/{month}/{day}/worddic.xml"/>
    <!--子品牌对应口碑印象url-->
    <add key="KeibeiImpressionSerialWordsUrl" value="http://image.bitautoimg.com/koubei/Statistics/serial/words/{year}/{month}/{day}/serialwords.xml"/>
    <!--口碑评分明细url-->
    <!--<add key="KoubeiRatingDetailUrl" value="http://admin.bitauto.com/include/baa/koubei/carstatistics/{yearmonth}.xml"/>-->
    <add key="KoubeiRatingDetailUrl" value="http://image.bitautoimg.com/koubei/statistics/allcar/{yearmonth}.xml"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false"></pages>
	</system.web>
 </configuration>
