<?xml version="1.0" encoding="utf-8"?>

<root>
  
  <thread name="thread1">
    <task description="生成产销数据新闻 ?">GetCarProduceAndSellData</task>
  </thread>
  
  <thread name="thread2">
    <task  description="生成城市信息 ?">GetCityContent</task>
    <task  description="获取子品牌全部，生成文件 ?">Serial_GetContent</task>
    <task  description="更新子品牌级别排行指数memcache ?">ReWriteIndexSerialLevelRank</task>
    <task  description="生成树的导航 ?">NavigationBar_Generate</task>
    <task  description="生成子品牌年款外围尺寸xml ?">CreateSerialOutSetXml</task>
    <task  description="根据彩虹条，生成子品牌车型详解数据 SerialNews\pingce\allpingce.xml ?">GetSerialPingCeData</task>
    <task  description="获取经销商google地图坐标，更新Mongodb  ?">GetVendorListMapInfor</task>
    <task  description="更新车型品牌树autodata">UpdateBrandTree</task>
    <task  description="清除过期的子品牌焦点新闻顺序设置">ClearTimeoutSerialFocusNews</task>
    <task  description="更新车型左侧树形xml">UpdateTreeData</task>
    <task  description="更新二手车数据">UpdateUsedCarData</task>
    <task  description="更新子品牌油耗区间 AllSerialFuel xml">GenerateAllSerialFuel</task>
    <task  description="更新亮点配置关系数据">UpdateSparkleSerialRel</task>
    <task  description="生成报价区间">GeneratePriceRangeXML</task>
    <task  description="高级选车工具全量更新数据">GenerateUpdateCarDataForSelectToolV2</task>
    <task  description="更新易湃接口">EPProcesserList</task>
    <task  description="生成报价区间 子品牌城市排行">GenerateSerialCityPriceRank</task>
    <task  description="生成SUV 销量排行">GenerateSUVSaleRankXml</task>
    <task  description="第四级，生成子品牌商配新闻XML">GenerateSerialCommerceNewsData</task>
    <task  description="更新口碑印象对应的子品牌到redis">StoreKoubeiImpressionInRedis</task>
    <task  description="更新口碑详细评分">UpdateKoubeiRaingDetail</task>
    <!--<task  description="子品牌的竞品口碑排名">GetSerialCompetitiveKoubeiHtml</task>-->
    <task  description="生成主品牌 品牌旗舰店Url（易车惠）">GenerateFlagShipXML</task>
    <task description="生成移动端车系网址二维码">GenerateSerialQr</task>
    <task description="精真估车系5年旧车保值率">GetBaoZhiLv</task>
    <task description="更新评测后台StyleJoinBrand表数据">UpdateStyleJoinBrand</task>
    <task description="保存编辑接口数据">GetEditUser</task>
  </thread>
  
  <thread name="thread3">
    <task description="生成车款参数对比文档（第四级）,每月1号执行二手车相关任务时间比较长">GenerateCarCompareXml</task>
  </thread>
  
  <thread name="thread4">
    <task description="里面有多个执行方法">GetContent</task>
  </thread>
  
  <thread name="thread5">
    <task description="生成所有图库依赖接口数据">GeneratePhotoImage</task>
    <task description="生成互联互通导航头">GenerateCommonNavigation</task> <!--线上需要在UV数据同步完以后（大概4:30）执行-->
  </thread>
    
  <thread name="thread6">
    <task description="更新车型参数memcache">RewriteCarMemCache</task>
  </thread>
    
  <thread name="thread7">
    <task description="生成车款 口碑 xml文件">GetCarKoubeiHtml</task>
  </thread>
  
  <!--<thread name="thread8">
    <task description="生成互联互通导航头">GenerateCommonNavigation</task>
  </thread>-->
  
  <thread name="thread9">
    <task  description="生成编辑试驾评价">CreateEditorComment</task>
    <task  description="更新核心看点块内容">GetHeXinKanDianHTML</task>
    <task  description="生成车型按级别与报价分的块">GenGroupHtml</task>
    <task  description="车型详解块">GetPinceBlockHTML</task>
    <task  description="生成综述页SUV块">GenerateSerialSUVPramater</task>
    <task  description="生成综述页奖项块">GenerateSerialAward</task>
    <task  description="生成关键报告内部空间">GenerateKongJianHtml</task>
    <task  description="生成关键报告—移动版 内部空间">GetDetailZoneHTML</task>
    <!--<task description="生成问答块HTML首页">GenerateDefaultAskHtml</task>  
    <task description="生成问答块HTML主品牌">GenerateMasterAskHtml</task>  
    <task description="生成问答块HTML子品牌">GenerateSerialAskHtml</task>-->
  </thread>
  
  <!--<thread>
    <task description="保存口碑报告文件 ?  ?????">SaveAskAndKouBei</task>
  </thread>-->
</root>