<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="BitAuto.Utils.CommonPlatformConfig" type="BitAuto.Utils.Config.CommonPlatformConfiurationSectionHandler, BitAuto.Utils" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="ConnectionStringSettings" type="BitAuto.CarDataUpdate.Config.ConnStringSettings, Config"/>
		<section name="CommonSettings" type="BitAuto.CarDataUpdate.Config.CommonSettings, Config"/>
		<section name="CarNewsTypeSettings" type="BitAuto.CarDataUpdate.Config.CarNewsTypeSettingsHandler, Config"/>
		<section name="ToolsSettings" type="BitAuto.CarDataUpdate.Config.Tools.ToolsSettings, Config"/>
		<section name="NewsCategoryConfig" type="BitAuto.CarDataUpdate.Config.NewsCategoryConfigHandler, Config"/>
		<!--<section name="VideoCategoryConfig" type="BitAuto.CarDataUpdate.Config.VideoCategoryConfigHandler, Config"/>-->
		<section name="PhotoImageConfig" type="BitAuto.CarDataUpdate.Config.PhotoImageConfig, Config"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
    <section name="RedisConfig" type="BitAuto.CarDataUpdate.Common.RedisConfigInfo, Common"/>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
	</configSections>
	<log4net configSource="config\log4net.config"/>
	<!--数据库连接字符串-->
	<ConnectionStringSettings configSource="config\ConnectionString.config"/>
	<!--数据库连接字符串 end-->
	<!--公用配置-->
	<CommonSettings configSource="config\Common.config"/>
	<!--公用配置 end-->
	<!--车型新闻类型配置-->
	<CarNewsTypeSettings configSource="config\CarNewsType.config"/>
	<!--车型新闻类型配置 end-->
	<!--cms分类配置-->
	<NewsCategoryConfig configSource="config\NewsCategory.config"/>
	<!--cms视频分类配置-->
	<!--<VideoCategoryConfig configSource="config\VideoCategory.config"/>-->
	<!--cms分类配置 end-->
	<PhotoImageConfig configSource="config\PhotoImage.config"/>
	<!--定时服务专用配置-->
	<ToolsSettings>
		<FunctionCollection>
      <!-- add by liurongwei 2014/1/6 -->
      <add FuncName="UpdateCarLoanPackageXml" Description="更新车贷套餐数据"></add>
      <!-- add by chengl Jul.20.2012 -->
			<add FuncName="UpdateBrandTree" Description="更新车型品牌树autodata"></add>
			<!--<add FuncName="GetZhiHuanDealerNews" Description="获取经销商置换行情"></add>-->
			<!-- add by chengl May.22.2012 -->
			<add FuncName="ClearTimeoutSerialFocusNews" Description="清除过期的子品牌焦点新闻顺序设置"></add>
			<add FuncName="GetPinceBlockHTML" Description="生成子品牌综述页车型详解块"></add>
			<add FuncName="GetCityContent" Description="获取城市信息"></add>
			<add FuncName="GetContent" Description="无参数时执行获取全部"></add>
			<add FuncName="GenGroupHtml" Description="生成车型按级别与报价分的块"></add>
			<add FuncName="GetCarProduceAndSellData" Description="生成产销数据新闻"></add>
			<!--<add FuncName="GetUCarAllSerialCarAmount" Description="获取二手车所有子品牌的车型数据"></add>-->
			<add FuncName="UpdateTreeData" Description="更新车型左侧树形xml"></add>
			<!--<add FuncName="SaveVideoOrder" Description="保存视频排序的文件"></add>-->
			<add FuncName="SaveAskAndKouBei" Description="保存口碑和答疑"></add>
			<add FuncName="Serial_GetContent" Description="获取子品牌全部"></add>
			<!--<add FuncName="GetCityHangQingDefaultPageSpan" Description="获取城市行情默认页块"></add>-->
			<!--<add FuncName="Inusure_GetContent" Description="获取保险全部内容"></add>-->
			<!--<add FuncName="MaiCheSite_GetContent" Description="获取买车网信息"></add>-->
			<add FuncName="NavigationBar_Generate" Description="生成树形的导航"></add>
			<!--<add FuncName="UpdateAskData" Description="更新答疑块"></add>
			<add FuncName="Ask_Generate" Description="生成答疑的数据块"></add>-->
			<add FuncName="UpdateUsedCarData" Description="更新二手车数据"></add>
			<!-- <add FuncName="Ucar_Generate" Description="生成二手车的数据块"></add> -->
			<add FuncName="CreateSerialOutSetXml" Description="生成子品牌年款外围尺寸xml"></add>
			<!--<add FuncName="MakeSerialImageCarsHTMLALL" Description="子品牌综述页 图释"></add>-->
			<add FuncName="CreateEditorComment" Description="生成编辑试驾评价"></add>
			<add FuncName="GetVendorListMapInfor" Description="获取经销商google地图坐标"></add>
			<add FuncName="GetHeXinKanDianHTML" Description="创建核心看点html"></add>
			<add FuncName="GeneratePhotoImage" Description="生成所有图库依赖接口数据"></add>
			<!--<add FuncName="JiangJiaNewsPlanTask" Description="降价新闻计划任务"></add>-->
			<add FuncName="GenerateCommonNavigation" Description="生成互联互通导航头文件"></add>
			<add FuncName="RewriteCarMemCache" Description="更新车型参数memcache"></add>
			<add FuncName="ReWriteIndexSerialLevelRank" Description="更新子品牌级别排行指数memcache"></add>
			<add FuncName="GenerateAllSerialFuel" Description="更新子品牌油耗区间 AllSerialFuel xml"></add>
			<add FuncName="GetSerialPingCeData" Description="根据彩虹条，生成子品牌车型详解数据 SerialNews\pingce\allpingce.xml"></add>
			<add FuncName="CommonGenrate" Description="共同的方法执行"></add>
      <add FuncName="UpdateSparkleSerialRel" Description="更新亮点配置关系数据"></add>
			<!--线上为独立计划任务-->
			<!--<add FuncName="UpdateSerialCityNews" Description="获取所有子品牌的区域车型页的行情与促销新闻"></add>-->
			<!--线上为独立计划任务 end-->
    </FunctionCollection>
	</ToolsSettings>
	<!--定时服务专用配置 end-->

  <!--Redis配置节点-->
  <RedisConfig WriteServerList="192.168.15.143:6379" ReadServerList="192.168.15.144:6380,192.168.15.145:6380,192.168.15.146:6380"
                 AutoStart="true" MaxReadPoolSize="60" MaxWritePoolSize="60" DefaultDatabase="0" PreKey="SelectCar">
  </RedisConfig>
	<appSettings>
		<add key="IsWriteLog" value="true"/>
		<add key="CurrentProcesser" value="BitAuto.CarDataUpdate.NewsProcesser.MessageProcesser, NewsProcesser"/>
    
    <!--口碑印象字典url-->
    <add key="KeibeiImpressionWordDicUrl" value="http://image.bitautoimg.com/koubei/Statistics/serial/words/{year}/{month}/{day}/worddic.xml"/>
    <!--子品牌对应口碑印象url-->
    <add key="KeibeiImpressionSerialWordsUrl" value="http://image.bitautoimg.com/koubei/Statistics/serial/words/{year}/{month}/{day}/serialwords.xml"/>
    <!--口碑评分明细url-->
    <!--<add key="KoubeiRatingDetailUrl" value="http://admin.bitauto.com/include/baa/koubei/carstatistics/{yearmonth}.xml"/>-->
    <add key="KoubeiRatingDetailUrl" value="http://image.bitautoimg.com/koubei/statistics/allcar/{yearmonth}.xml"/>
    <!--二手车估价接口-->
    <add key="TaoChePingGuApi" value="http://co.api.taoche.cn/api/Values/GET?"/>
    <!--易车惠旗舰店入口-->
    <add key="YicheHuiFlagShip" value="http://api.market.bitauto.com/messageinterface/interface/GetInterfaceHandler.ashx?name=qjdrk&amp;key=cbb11ed87dc8a95d81400c7f33c7c171"/>
    <!--精真估保值率接口-->
    <add key="BaoZhiLvUrl" value="http://guzhiapi.jingzhengu.com/VehicleDataService.ashx"/>
    <!--精真估保值率合作id号-->
    <add key="BaoZhiLvPid" value="135"/>
    <!--精真估保值率接口key-->
    <add key="BaoZhiLvKey" value="ZmZkMjQ1OTctYmFjNC00NDM4"/>
	</appSettings>

	<BitAuto.Utils.CommonPlatformConfig>
		<CommonConfig>
			<!--
              分布式文件存储接口配置
              Address: 服务的地址如:net.tcp://127.0.0.1:5000
              UserName:验证用户名
              Password:验证密码
              说明：服务端更加用户名密码验证文件夹访问权限
         -->
			<FileServer Address="net.tcp://192.168.200.126:20010" UserName="cargroup" Password="cargroup"/>

			<CacheConfig defaultProvider="EnyimProvider">
				<providers>
					<!-- 
			        servers="127.0.0.1:11211"  memcache服务端列表，
			        socketConnectTimeout="1000"  socket链接超时时间
			        socketTimeout="1000"		socket超时时间
			        defaultExpireTime="5000000"  默认的缓存时间，单位是毫秒
              <add name="MemcachedCacheProvider" type="BitAuto.Services.Cache.MemcachedCacheProvider,BitAuto.Services"
						 servers="192.168.200.126:11211,192.168.200.126:11211" socketConnectTimeout="1000" socketTimeout="1000" defaultExpireTime="5000000"/>
			    -->
					<!-- 
			    如果采用了EnyimProvider，只有type和defaultExpireTime属性生效，其他参数在<enyim.com>配置节中指定
			    -->
					<add name="EnyimProvider" type="BitAuto.Services.Cache.EnyimProvider,BitAuto.Services" defaultExpireTime="5000000"/>
				</providers>
			</CacheConfig>
		</CommonConfig>
	</BitAuto.Utils.CommonPlatformConfig>
	<enyim.com>
		<memcached>
			<servers>
				<!--<add address="192.168.0.173" port="11211" />-->
				<add address="192.168.200.126" port="11212"/>
				<add address="192.168.200.126" port="11211"/>
				<!-- 线上切换成内网地址 -->
				<!--<add address="59.151.102.126" port="11212" />-->
				<!--<add address="59.151.102.227" port="11212" />-->
				<!--<add address="192.168.0.145" port="11212" />-->
				<!--<add address="192.168.0.233" port="11212" />-->
				<!-- 线上配置 add by chengl Mar.27.2014 内存1G
				<add address="192.168.0.147" port="11217"/>
				<add address="192.168.0.252" port="11217"/>
				<add address="192.168.0.232" port="11217"/>
				-->
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
		</memcached>
	</enyim.com>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataProvide">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://data.baa.bitauto.com/DataProvide.svc"
					binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataProvide"
					contract="DataCenter.WCF.IDataProvide" name="WSHttpBinding_IDataProvide" />
    </client>
  </system.serviceModel>
</configuration>
