<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitAuto.CarDataUpdate.WebServiceBLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BitAuto.CarDataUpdate.WebServiceBLL.Properties.Settings>
            <setting name="WebServiceBLL_com_bitauto_mai_api_maiservice_MaiService"
                serializeAs="String">
                <value>http://mai.bitauto.com/api/MaiService.asmx</value>
            </setting>
        </BitAuto.CarDataUpdate.WebServiceBLL.Properties.Settings>
    </applicationSettings>
</configuration>