<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BitAuto.CarDataUpdate.DataProcesser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BitAuto.CarDataUpdate.DataProcesser.Properties.Settings>
            <setting name="DataProcesser_com_bitauto_dealer_api_VendorInfor"
                serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/VendorInfor.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_news_NewsService" serializeAs="String">
                <value>http://news.bitauto.com/comment/newsservice.asmx</value>
            </setting>
            <setting name="DataProcesser_cn_com_baa_api_ForumService" serializeAs="String">
                <value>http://api.baa.bitauto.com/forumservice.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_dealer_api1_VendorNews"
                serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/VendorNews.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_imgsvr_CommonService"
                serializeAs="String">
                <value>http://imgsvr.bitauto.com/common/commonservice.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_price_MaintainService"
                serializeAs="String">
                <value>http://price.bitauto.com/interface/common/maintainservice.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_dealer_api1_VendorInfor"
                serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/VendorInfor.asmx</value>
            </setting>
            <setting name="DataProcesser_cn_ucar_api_CarPrice_CarPrice" serializeAs="String">
                <value>http://yicheapi.taoche.cn/CarBasicIno/ForXml/CarPrice.asmx</value>
            </setting>
            <setting name="DataProcesser_cn_ucar_api_CarSourceForBitAuto"
                serializeAs="String">
                <value>http://api.taoche.cn/CarSourceInterface/CarSourceForBitAuto.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_dealer_api_ReplaceNews_ReplaceNews"
                serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/ReplaceNews.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_dealer_api_jiangjia_GetFavourableNews"
                serializeAs="String">
                <value>http://api.dealer.bitauto.com/api/Service/GetFavourableNews.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_index_IndexData" serializeAs="String">
                <value>http://api2.easypass.cn/indexapi/Service/IndexData.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_carser_Service" serializeAs="String">
                <value>http://carser.bitauto.com/ForPicMasterToSerial/service.asmx</value>
            </setting>
            <setting name="DataProcesser_com_bitauto_baa_api_userCarService"
                serializeAs="String">
                <value>http://api.baa.bitauto.com/koubei/usercar/userCarService.asmx</value>
            </setting>
        </BitAuto.CarDataUpdate.DataProcesser.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
