<?xml version="1.0" encoding="utf-8" ?>
<ConnectionStringSettings
  CarDataUpdateConnString="Data Source=192.168.0.173\sql2008;Initial Catalog=CarDataUpdate;User ID=CarChannel;Password=1qaz@WSX;"
  AutoStroageConnString="Data Source=192.168.0.173\sql2014;Initial Catalog=AutoStorageNew;User ID=CarChannel;Password=1qaz@WSX;"
  CarChannelConnString="Data Source=192.168.0.173\sql2014;Initial Catalog=AutoCarChannel;User ID=CarChannel;Password=1qaz@WSX;"
  CarChannelManageConnString="Data Source=192.168.0.173\sql2008;Initial Catalog=AutoCarChannelManage;User ID=CarChannel;Password=1qaz@WSX;"
  MongoDBConnectionString="mongodb://dealer:dealer@192.168.0.149/DealerPrice?safe=true;w=2;wtimeoutMS=10000"
  BuyCarServiceConnectionString="Data Source=192.168.0.173\SQL08;Initial Catalog=BuyCarService;User ID=CarChannel;Password=1qaz@WSX;"
    />
<!--<ConnectionStringSettings
  CarDataUpdateConnString="Data Source=192.168.0.173\SQL08;Initial Catalog=CarDataUpdate;User ID=sa;Password=sa;"
  AutoStroageConnString="Data Source=192.168.200.99\YCDB2;Initial Catalog=AutoStorageNew;User ID=Autostorage_new;Password=HvWd@Ob0Vs!lId1Fb;"
  CarChannelConnString="Data Source=192.168.200.86\BAADB1;Initial Catalog=AutoCarChannel;User ID=AutoCarChannel;Password=MeWlw3g8B;"
  CarChannelManageConnString="Data Source=192.168.0.173\SQL08;Initial Catalog=AutoCarChannelManage;User ID=sa;Password=sa;"
  MongoDBConnectionString="mongodb://dealer:dealer@192.168.0.149/DealerPrice?safe=true;w=2;wtimeoutMS=10000"
    />-->
    <!--  线上配置 add by chengl May.7.2012
    <ConnectionStringSettings
  CarDataUpdateConnString="Data Source=192.168.0.86\baadb1;Initial Catalog=CarDataUpdate;User ID=CarDataUpdate_rw;Password=RvOk@asDfC!rFuJOa"
  AutoStroageConnString="Data Source=192.168.0.99;Initial Catalog=AutoStorageNew;User ID=Autostorage;Password=fdA9oRRs7;max pool size=300"
  CarChannelConnString="Data Source=192.168.0.86\baadb1;Initial Catalog=AutoCarChannel;User ID=AutoCarChannel;Password=MeWlw3g8B"
  CarChannelManageConnString="Data Source=192.168.0.86\baadb1;Initial Catalog=AutoCarChannelManage;User ID=AutoCarChannelManage_rw;Password=JsBt@0hOa!w1lIcR;"
  MongoDBConnectionString="mongodb://DealerPrice_cartype_rm:!23Ct7*@192.168.0.241,192.168.0.242/DealerPrice?slaveOk=true;w=2;wtimeoutMS=10000"
    />
     -->