<?xml version="1.0" encoding="utf-8"?>
<MessageQueueConfig>
	<add name="Car" queueName=".\private$\ContentUpdateQueue_Car"></add>
	<add name="Photo" queueName=".\private$\ContentUpdateQueue_Photo"></add>
	<add name="CMS" queueName=".\private$\ContentUpdateQueue_CMS"></add>
	<add name="EP" queueName=".\private$\ContentUpdateQueue_EP"></add>
</MessageQueueConfig>