<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Item>
    <!--子品牌ID-->
    <SerialId>4016</SerialId>
    <!--上市文章url-->
    <Url>http://news.bitauto.com/listinginfo/20160811/1006630421.html</Url>
    <!--上市时间，时间格式 2015-9-12 -->
    <MarketTime>2016-08-11</MarketTime>
    <!--显示结束时间，时间格式 2015-12-12-->
    <ShowTime>2016-08-11</ShowTime>
  </Item>
  <Item>
    <!--子品牌ID-->
    <SerialId>4053</SerialId>
    <!--上市文章url-->
    <Url>http://news.bitauto.com/xinche/20160910/1006630446.html</Url>
    <!--上市时间，时间格式 2015-9-12 -->
    <MarketTime>2016-08-17</MarketTime>
    <!--显示结束时间，时间格式 2015-12-12-->
    <ShowTime>2016-08-17</ShowTime>
  </Item>
  <Item>
    <!--子品牌ID-->
    <SerialId>1987</SerialId>
    <!--上市文章url-->
    <Url>http://news.bitauto.com/listinginfo/20160720/1506627086.html</Url>
    <!--上市时间，时间格式 2015-9-12 -->
    <MarketTime>2016-08-22</MarketTime>
    <!--显示结束时间，时间格式 2015-12-12-->
    <ShowTime>2016-08-22</ShowTime>
  </Item>
  <Item>
    <!--子品牌ID-->
    <SerialId>4847</SerialId>
    <!--上市文章url-->
    <Url>http://news.bitauto.com/xinche/20160905/0706629599.html</Url>
    <!--上市时间，时间格式 2015-9-12 -->
    <MarketTime>2016-08-26</MarketTime>
    <!--显示结束时间，时间格式 2015-12-12-->
    <ShowTime>2016-08-26</ShowTime>
  </Item>
  <Item>
    <!--子品牌ID-->
    <SerialId>2354</SerialId>
    <!--上市文章url-->
    <Url>http://news.bitauto.com/xinche/20160728/2106628323.html</Url>
    <!--上市时间，时间格式 2015-9-12 -->
    <MarketTime>2016-08-29</MarketTime>
    <!--显示结束时间，时间格式 2015-12-12-->
    <ShowTime>2016-08-29</ShowTime>
  </Item>
</Root>