<?xml version="1.0" encoding="utf-8" ?>
<CarNewsTypeSettings>
  <CarNewsType Id="1" Name="serialFocus" TypeStr="serialFocus" Description="子品牌焦点新闻和易车网首页帮你选车-车型资讯xml" CategoryIds="633,637,641,168,646,487,662,663,666,668,671,675" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.FocusNewsHtmlBuilder, HtmlBuilder" Description="子品牌焦点新闻和易车网首页帮你选车-车型资讯xml" />
    </BuilderCollection>
  </CarNewsType>
  <!--<CarNewsType Id="2" Name="shijia" TypeStr="shijia" Description="试驾-(子品牌、年款)" CategoryIds="29,30,543,544,565,526,566" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.WatchMustHtmlBuilder, HtmlBuilder" Description="子品牌买车必看" />
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.ShiJiaNewsNum, DataProcesser" Description="试驾新闻数" />
    </BuilderCollection>
  </CarNewsType>-->
  <!--<CarNewsType Id="3" Name="gaizhuang" TypeStr="gaizhuang" Description="改装-(子品牌、年款)" CategoryIds="87" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.GaiZhuangNewsNum, DataProcesser" Description="改装新闻数" />
    </BuilderCollection>
  </CarNewsType>-->
  <!--<CarNewsType Id="4" Name="anquan" TypeStr="anquan" Description="安全" CategoryIds="116,117,430,431,432" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.AnQuanNewsNum, DataProcesser" Description="安全新闻数" />
    </BuilderCollection>
  </CarNewsType>-->
  <CarNewsType Id="5" Name="keji" TypeStr="keji" Description="科技" CategoryIds="646,671" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.KeJiNewsNum, DataProcesser" Description="科技新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <!--<CarNewsType Id="6" Name="video" TypeStr="video" Description="视频-(主品牌、品牌)" CategoryIds="74,70,348" CarTypes="6">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.VideoNewsNum, DataProcesser" Description="视频新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <CarNewsType Id="7" Name="levelTopNews" TypeStr="levelTopNews" Description="级别页焦点新闻" CategoryIds="150,152,34,148,146,144,147,83,198,149,123,127,2,13,210,98,3,4,179,102,115,120,33,31,32,29,30,87,88,143,142,86,85,173,56" CarTypes="16">
  </CarNewsType>-->
  <CarNewsType Id="8" Name="daogou" TypeStr="daogou" Description="导购" CategoryIds="637,662,663" CarTypes="23">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.PingceBlockHtmlBuilder, HtmlBuilder" Description="子品牌车型详解块" />
      <!--<Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.WatchMustHtmlBuilder, HtmlBuilder" Description="子品牌买车必看" />-->
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.DaoGouNewsNum, DataProcesser" Description="导购新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <CarNewsType Id="9" Name="pingce" TypeStr="pingce" Description="评测" CategoryIds="641,666" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.PingceBlockHtmlBuilder, HtmlBuilder" Description="子品牌车型详解块" />
      <!--<Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.WatchMustHtmlBuilder, HtmlBuilder" Description="子品牌买车必看" />-->
      <Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.HeXinKanDianHtmlBuilder, HtmlBuilder" Description="子品牌核心看点" />
      <Builder Type="BitAuto.CarDataUpdate.HtmlBuilder.EditorCommentHtmlBuilder, HtmlBuilder" Description="子品牌编辑评测" />
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.PingCeNewsNum, DataProcesser" Description="评测新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <!--<CarNewsType Id="10" Name="treepingce" TypeStr="treepingce" Description="评测-(树形、主品牌、品牌 、级别、子品牌)" CategoryIds="29,30,31,32" CarTypes="23" >
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.TreePingCeNewsNum, DataProcesser" Description="评测新闻数" />
    </BuilderCollection>
  </CarNewsType>-->
  <CarNewsType Id="11" Name="yongche" TypeStr="yongche" Description="用车" CategoryIds="168,668" CarTypes="23">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.YongCheNewsNum, DataProcesser" Description="用车新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <!--<CarNewsType Id="12" Name="hangqing" TypeStr="hangqing" Description="行情-(树形、主品牌、品牌、子品牌、年款、级别、区域购买)" CategoryIds="16,215,20,172,18,171" CarTypes="23">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.HangQingNewsNum, DataProcesser" Description="行情新闻数" />
    </BuilderCollection>
  </CarNewsType>-->
  <CarNewsType Id="13" Name="xinwen" TypeStr="xinwen" Description="新闻" CategoryIds="633" CarTypes="31">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.XinWenNewsNum, DataProcesser" Description="新闻新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <!--<CarNewsType Id="14" Name="baoyang" TypeStr="baoyang" Description="保养-(子品牌)" CategoryIds="86" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.BaoYangNewsNum, DataProcesser" Description="保养新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <CarNewsType Id="15" Name="zhihuan" TypeStr="zhihuan" Description="置换-(品牌、子品牌)" CategoryIds="433" CarTypes="3">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.ZhiHuanNewsNum, DataProcesser" Description="保养新闻数" />
    </BuilderCollection>
  </CarNewsType>
  <CarNewsType Id="16" Name="huati" TypeStr="huati" Description="话题-（新闻列表）" CategoryIds="567,568,569,570,571" CarTypes="1">
    <BuilderCollection>
      <Builder Type="BitAuto.CarDataUpdate.DataProcesser.NewsNumXml.HuatiNewsNum, DataProcesser" Description="话题新闻数" />
    </BuilderCollection>
  </CarNewsType>-->
  <CarNewsType Id="17" Name="koubei" TypeStr="koubei" Description="口碑报告-（综述、车型详解）" CategoryIds="588" CarTypes="1">
  </CarNewsType>
  <CarNewsType Id="18" Name="wenhua" TypeStr="wenhua" Description="文化" CategoryIds="487,675" CarTypes="1">
  </CarNewsType>
</CarNewsTypeSettings>