<?xml version="1.0" encoding="utf-8" ?>
<!-- FormatName:DIRECT=TCP:192.168.0.173\private$\ContentUpdateQueueSavePath="\\192.168.0.40\Data"-->
<CommonSettings
	  QueueName=".\private$\ContentUpdateQueue"
      NewsDetailUrl="http://api.admin.bitauto.com/api/list/newsdetails.aspx?newsid={0}"
      NewsUrl="http://api.admin.bitauto.com/news3/v1/news/show"
      NewsCategoryUrl="http://api.admin.bitauto.com/api/newslist.aspx?showcategory=1"
      SavePath="\\192.168.0.174\Data"
      BuyCarServiceSavePath="\\192.168.0.174\Data\BuyCarServiceData"
      CarRealPicPath="http://imgsvr.bitauto.com/CarImage/GetImageCountingOfSerialBrandForColor.aspx?serialBrandID={0}"
      ImageUrl="http://imgsvr.bitauto.com/baa/getserialcover.aspx"
      SerialFocusImageUrl="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialfocusimage&amp;serialid={0}&amp;showall=false"
      BrandImageUrl="http://imgsvr.bitauto.com/autochannel/getImagebyserialgroup.aspx?serials={0}"
      AutoDataUrl="http://carsertest.bitauto.com/forpicmastertoserial/MasterToBrandToSerial.xml"
      AllAutoDataUrl="http://carsertest.bitauto.com/forpicmastertoserial/MasterToBrandToSerialAllSale.xml"
      AllSaleAndLevelUrl="http://carsertest.bitauto.com/forpicmastertoserial/MasterToBrandToSerialAllSaleAndLevel.xml"
      AskEntriesUrl="http://ask.bitauto.com/api/http/AskHandler.ashx?interfaceid=5&amp;authorizecode=2ADF0648-57F2-4D95-810F-57700B7CE8E0&amp;datatype=0&amp;op=get&amp;num={2}&amp;{0}={1}&amp;orderby=1"
      LevelCarCostUrl="http://koubei.bitauto.com/api/bitauto/handlermodelinfo.ashx"
      CityListUrl="http://api.admin.bitauto.com/api/common/cityvalueset.aspx?level=1,2"
      SerialDianpingUrl="http://koubei.bitauto.com/api/bitauto/handlermodelinfo.ashx"
	  SerialYouHaoRangeNewUrl="http://koubei.bitauto.com/api/bitauto/HandlerModelInfo.ashx"
      CarCityPriceUrl="http://price.bitauto.com/Interface/Common/Handler.ashx?user=car&amp;interfaceid=1&amp;op=GetCarPriceScopeByCsIdAndCity&amp;csid={0}&amp;cityid={1}"
      GetSerialForumUrl="http://api.baa.bitauto.com/CarBrandToForumUrl.aspx"
      AllCarFuel="http://koubei.bitauto.com/inc/debris/koubei/3.0/index/fuel.xml"
      AllSerialKouBeiReport="http://koubei.bitauto.com/Api/Bitauto/handlerkoubeireport.ashx?modellist=all"
      EditorCommentUrl="http://api.admin.bitauto.com/CarEstimateApi/GetAllComment.aspx?carid={0}&amp;size=2"
      EditorCommentUrlNew="http://api.admin.bitauto.com/CarEstimateApi/GetAllComment.aspx?serialid={0}"
      EidtorUserUrl="http://api.admin.bitauto.com/news3/v1/sysuser/geteditoruser"
      SellDataMapUrl="http://imgsvr.bitauto.com/autochannel/serialsalemap.aspx"
      CityValueSetUrl="http://api.admin.bitauto.com/api/Common/CityValueSet.aspx?type=153citynav"
      SerialColorPhotoUrl="http://imgsvr.bitauto.com/photo/imageservice.aspx?dataname=serialcolorimage&amp;serialid={0}&amp;showfullurl=true&amp;subfix={1}&amp;showall={2}"
      SerialColorImageDefaultUrl="http://image.bitautoimg.com/autoalbum/V2.1/images/300-200.gif"
      SerialOutSetDefaultWebPath="http://image.bitauto.com/CarChannel/images/CarSize/0/{0}/{1}_{2}.jpg"
      SerialOutSetWebPath="http://image.bitauto.com/CarChannel/images/CarSize/{0}/{0}_{1}_{2}_{3}.jpg"
	  BBSAllUrl="http://api.baa.bitauto.com/CarBrandToForumUrl.aspx"
	  AllCarPriceNoZone="http://price.bitauto.com/interface/xml/carminprice.xml"
	  PhotoSerialInterface="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx"
	  SerialPicCount="http://imgsvr.bitauto.com/photo/getseriallist.aspx"
    DefaultCarPic="http://image.bitautoimg.com/autoalbum/V2.1/images/150-100.gif"
    DefaultCarPic2 ="http://image.bitautoimg.com/autoalbum/V2.1/images/90-60.gif"
	  CarHangQingPriceUrl="http://api.admin.bitauto.com/api/list/marketprice.aspx?serial=true"
	  MemcacheDuration="604800000"
	  CommonHeadLocalFilePath="E:\Code\A3车型产品研发\新版车型库\Carchannelv2.1\CarDataUpdate\CarDataUpdateService\Data\"
	  StaticDataResNAS="E:\Data\CarChannel\;\\192.168.0.174\Data\NAS\CarChannel"
	  BeiJing2010="http://car.bitauto.com/Interface/Exhibition/beijing_2010_AlbumSync.aspx"
    PriceRangeInterface="http://price.bitauto.com/interface/xml/SerialMinPrice.xml"
    PostSerialDataToJingZanUrl="http://test.zampda.net/api/material?cid=12&amp;action={0}"
    SerialKouBeiReportUrl="http://koubei.bitauto.com/Api/Bitauto/handlerkoubeireport.ashx?modelid={0}"
		SerialKouBeiReportUrlNew="http://api.koubei.bitauto.com/api/review/getreviewimpressiondataforcarchannel?serialId={0}&amp;format=xml"
	  KouBeiSerialDianpingTagsUrl="http://koubei.bitauto.com/api/wcf/ServiceApi.svc/GetTagsBySerialId?serialid={0}&amp;count=10"
		KouBeiSerialDianpingUrl="http://api.koubei.bitauto.com/api/review/TopicListByLevel?serialbrandid={0}&amp;level={1}&amp;appkey=a1b7f24d6c1e473d9bb87336b92885f3&amp;Size=10"
      UcarSerialPrice="http://yicheapi.taoche.cn/CarBasicIno/CarSerial/GetAllPricerange.ashx"
	  SerialCmsHotVideoUrl="http://api.admin.bitauto.com/video/xml/hotvideo/hotvideo_90.xml"
		VideoNewUrl="http://v.bitauto.com/RestfulApi/Video/GetVideoByGuid?guid={0}&amp;format=xml&amp;apiKey=3ace31a2-1482-4062-91fc-a3d7df4059aa"
		SerialCmsHotVideoNewUrl="http://v.bitauto.com/RestfulApi/video/hotvideo/{0}/{1}?apiKey=460ad6f3-8216-469f-9b1c-52cffa5d812c"
		VideoCategoryNewUrl="http://v.bitauto.com/RestfulApi/category/xml?apiKey=460ad6f3-8216-469f-9b1c-52cffa5d812c"
		VideoHasSerialIDUrl="http://v.bitauto.com/restfulapi/video/GetAllCmrSerialId?apikey=460ad6f3-8216-469f-9b1c-52cffa5d812c"
		CheDaiCsList="1793,1796,2871,2370,1905,2381,1765,3547,2632,1994,2608,3152,2388,1833,3381,3026,2945,2614,2731,3355,3301,3600,3103,3023,3357,3660,3062,2964,1835,1825,2862,1834,3031,3554,3814,3261,1851,2713,3368,2957,2601,3664,2906,3511,1617,1605,1619,3591,3348,1618,3382,2866,3263,1650,2865,3360,2693,2576,1692,2929,3772,1594,2420,2971,3806,3278,2836,3398,3543,3323,3510,3086,1678,2748,3534,1660,1661,3697,2251,2741,2709,2425,2937,3187,2784,2785,3066,2553,2384,3883,2296,3438,3523,1634,3807,3720,2406,2606,2408,2993,3424,1914,3453,2677,2273,3635,3698,2710,3643,1599,2256,3879,1798,3221,1802,2776,2285,1799,4023,2932,2714,2875,1909,2377,2380,3509,1863,2065,2061,2062,2379,2610,2373,2064,2063,3919,2593,2573,3395,2855,3999,2921,2715,2075,2382,2071,2837,2070,2347,2623,3634,3633,2591,2068,2847,3824,3841,2674,2611,1811,3273,4002,3765,2955,2076,3885,3930,3556,3377,3376,,2409,3492,2583,2190,1699,1698,1679,1695,3243,3316,3753,2022,3512,1923,1922,2678,1924,1861,2856,3037,2882,3310,2160,3652,3362,2707"
		CarLoanPackageXmlUrl="http://mai.bitauto.com/InsuranceAndLoan/Api/Loan/CalculateAllSerialBrands"
    
    AskDefaultUrl = "http://api.ask.bitauto.com/data/question/getlist.xml?status=2&amp;top=10"
    AskMasterUrl="http://api.ask.bitauto.com/data/question/getlist.xml?status=2&amp;masterId={0}&amp;top=8"
    AskSerialUrl="http://api.ask.bitauto.com/data/question/getlist.xml?status=2&amp;masterId={0}&amp;serialid={1}&amp;top=8"
    AskExpertUrl="http://api.ask.bitauto.com/data/expert/getlist.xml?masterId={0}&amp;top=3"
    SerialTuanUrl="http://api.hd.bitauto.com/tuantui/?appid=92db41fc4b7f0&amp;appkey=001092db41fc4b7f093bae2e6ed47f88&amp;token=42df39af3d181f5f199c99184c2b503b"
    SUVSaleRankUrl="http://api.easypass.cn/indexDataProvider/getTop10.ashx?indextype=sale&amp;levelname=suv"
    SerialCommerceNewsUrl ="http://api.admin.bitauto.com/api/list/newstocar.aspx?brandid={0}&amp;tags=220&amp;getcount=2"
    BackupCommerceNewsUrl="http://api.admin.bitauto.com/api/list/newstocar.aspx?brandid={0}&amp;getcount=2&amp;NatureType=0&amp;IsHQ=1"
    UserFuelUrl="http://image.bitautoimg.com/koubei/Statistics/trim/{0}/{1}.xml"
    SerialMarketTimeConfigPath="E:\Code\A3车型产品研发\新版车型库\CarChannelManage\CarChannelManageWeb\config\SerialMarketTimeConfig.config"
    KoubeiDetailRatingUrl="http://api.baa.bitauto.com/koubei/car/ajax/temp_carinfo.ashx?cs_id={csid}"
    KoubeiDetailUrl="http://api.baa.bitauto.com/koubei/car/ajax/temp_usercarinfo.ashx?cs_id={csid}&amp;carid={carid}&amp;cpy={cpy}&amp;wn={wn}&amp;page={page}&amp;size={size}"
    FileServerPath = "ycimage/cargroup/car/"
    YiCheLogoLocalPath="E:/Code/A3车型产品研发/新版车型库/Carchannelv2.1/Carchannel/CarchannelWeb/favicon.ico"
    /><!-- 线上配置 add by chengl May.7.2012
    <CommonSettings
	  QueueName=".\private$\CarDataUpdateService"
      NewsDetailUrl="http://api.admin.bitauto.com/api/list/newsdetails.aspx?newsid={0}"
      NewsUrl="http://api.admin.bitauto.com/api/list/newstocar.aspx"
      NewsCategoryUrl="http://api.admin.bitauto.com/api/newslist.aspx?showcategory=1"
      SavePath="E:\webroot\ProductSites\AutoChannel\Carchannelv2.1\Data"
      CarRealPicPath="\\192.168.0.193\ycimage\autoalbum\V2.0\data\carcolor"
      ImageUrl="http://imgsvr.bitauto.com/baa/getserialcover.aspx"
      SerialFocusImageUrl="http://imgsvr.bitauto.com/autochannel/getserialfocus.aspx?sid={0}"
      BrandImageUrl="http://imgsvr.bitauto.com/autochannel/getImagebyserialgroup.aspx?serials={0}"
      AutoDataUrl="http://carser.bitauto.com/forpicmastertoserial/MasterToBrandToSerial.xml"
      AllAutoDataUrl="http://carser.bitauto.com/forpicmastertoserial/MasterToBrandToSerialAllSale.xml"
      AllSaleAndLevelUrl="http://carser.bitauto.com/forpicmastertoserial/MasterToBrandToSerialAllSaleAndLevel.xml"
      AskEntriesUrl="http://ask.bitauto.com/api/http/AskHandler.ashx?interfaceid=5&amp;authorizecode=2ADF0648-57F2-4D95-810F-57700B7CE8E0&amp;datatype=0&amp;op=get&amp;num={2}&amp;{0}={1}"
      LevelCarCostUrl="http://koubei.bitauto.com/api/bitauto/handlermodelinfo.ashx"
      CityListUrl="http://admin.bitauto.com/api/common/cityvalueset.aspx?level=1,2"
      SerialDianpingUrl="http://koubei.bitauto.com/api/bitauto/handlermodelinfo.ashx"
      CarCityPriceUrl="http://price.bitauto.com/Interface/Common/Handler.ashx?user=car&amp;interfaceid=1&amp;op=GetCarPriceScopeByCsIdAndCity&amp;csid={0}&amp;cityid={1}"
      GetSerialForumUrl="http://api.baa.bitauto.com/CarBrandToForumUrl.aspx"
      AllCarFuel="http://koubei.bitauto.com/inc/debris/koubei/3.0/index/fuel.xml"
      AllSerialKouBeiReport="http://koubei.bitauto.com/Api/Bitauto/handlerkoubeireport.ashx?modellist=all"
      UCarUrl="http://www.ucar.cn/api/UcarDealerCarSource.ashx?{0}={1}&amp;count={2}"
      EditorCommentUrl="http://api.admin.bitauto.com/CarEstimateApi/GetAllComment.aspx?carid={0}&amp;size=2"
      EidtorUserUrl="http://api.admin.bitauto.com/api/list/EidtorUser.aspx"
      SellDataMapUrl="http://imgsvr.bitauto.com/autochannel/serialsalemap.aspx"
      CityValueSetUrl="http://api.admin.bitauto.com/api/Common/CityValueSet.aspx?type=153citynav"
      SerialColorPhotoUrl="http://imgsvr.bitauto.com/photo/imageservice.aspx?dataname=serialcolorimage&amp;serialid={0}&amp;showfullurl=true&amp;subfix={1}&amp;showall={2}"
      SerialColorImageDefaultUrl="http://image.bitautoimg.com/autoalbum/V2.1/images/300-200.gif"
      SerialOutSetDefaultWebPath="http://image.bitauto.com/CarChannel/images/CarSize/0/{0}/{1}_{2}.jpg"
      SerialOutSetWebPath="http://image.bitauto.com/CarChannel/images/CarSize/{0}/{0}_{1}_{2}_{3}.jpg"
    />
    晶赞正式接口
    PostSerialDataToJingZanUrl="http://www.zampda.net/api/material?cid=12&action={0}"
    -->