<?xml version="1.0" encoding="utf-8" ?>
<NewsCategoryConfig>
  <!--cms新闻类型，只有以下类型才有可能被记录
		数字代表：0为原创，1为转载，5为论坛引入-->
  <CMSCreativeType TypeIds="0, 1, 5"/>
  <!--子品牌焦点新闻首条新闻分类-->
  <SerialFocusTop CategoryIds="633,637,641,168,646,487,662,663,666,668,671,675" />
  <!--子品牌焦点新闻视频分类-->
  <SerialFocusVideo CategoryIds="348, 74, 70, 67" />
  <!--新闻分类名称-->
  <CategoryShowNames>
    <!--Key=字典Key；
		Url=对应Url关键字；
		showname=分类显示名；
		CategoryIds=关联新闻分类id-->
    <Add Key="xinwen" Url="xinwen" ShowName="新闻" CategoryIds="633" />
    <Add Key="daogou" Url="daogou" ShowName="导购" CategoryIds="637,662,663" />
    <!--<Add Key="shijia" Url="shijia" ShowName="试驾" CategoryIds="29, 30,543,544,565,526,566" />-->
    <!--<Add Key="hangqing" Url="hangqing" ShowName="行情" CategoryIds="3, 16, 215" />-->
    <Add Key="yongche" Url="yongche" ShowName="用车" CategoryIds="168,668" />
    <!--<Add Key="shipin" Url="shipin" ShowName="视频" CategoryIds="74, 70, 348, 67" />-->
    <Add Key="pingce" Url="shijia" ShowName="评测" CategoryIds="641,666" />
    <!--<Add Key="gaizhuang" Url="gaizhuang" ShowName="改装" CategoryIds="87" />-->
    <Add Key="qita" Url="#" ShowName="其他" CategoryIds="" />
    <!--<Add Key="huati" Url="#" ShowName="话题" CategoryIds="567,568,569,570,571" />-->
    <Add Key="wenhua" Url="wenhua" ShowName="文化" CategoryIds="487,675" />
    <Add Key="keji" Url="keji" ShowName="科技" CategoryIds="646,671" />
  </CategoryShowNames>
</NewsCategoryConfig>