<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Params Id="788" Name="油耗">
    <CarLevel Id="321" Name="微型车">
      <Item Index="0" Name="节能" Min="0" Max="6"/>
      <Item Index="1" Name="省油" Min="6" Max="7"/>
      <Item Index="2" Name="一般" Min="7" Max="8"/>
      <Item Index="3" Name="较高" Min="8" Max="9"/>
      <Item Index="4" Name="油霸" Min="9" Max="9999"/>
    </CarLevel>
    <CarLevel Id="338" Name="小型车">
      <Item Index="0" Name="节能" Min="0" Max="7"/>
      <Item Index="1" Name="省油" Min="7" Max="8"/>
      <Item Index="2" Name="一般" Min="8" Max="9"/>
      <Item Index="3" Name="较高" Min="9" Max="10"/>
      <Item Index="4" Name="油霸" Min="10" Max="9999"/>
    </CarLevel>
    <CarLevel Id="339" Name="紧凑型车">
      <Item Index="0" Name="节能" Min="0" Max="8"/>
      <Item Index="1" Name="省油" Min="8" Max="9"/>
      <Item Index="2" Name="一般" Min="9" Max="10"/>
      <Item Index="3" Name="较高" Min="10" Max="11"/>
      <Item Index="4" Name="油霸" Min="11" Max="9999"/>
    </CarLevel>
    <CarLevel Id="340" Name="中型车">
      <Item Index="0" Name="节能" Min="0" Max="9"/>
      <Item Index="1" Name="省油" Min="9" Max="10"/>
      <Item Index="2" Name="一般" Min="10" Max="11"/>
      <Item Index="3" Name="较高" Min="11" Max="12"/>
      <Item Index="4" Name="油霸" Min="12" Max="9999"/>
    </CarLevel>
    <CarLevel Id="341" Name="中大型车">
      <Item Index="0" Name="节能" Min="0" Max="10"/>
      <Item Index="1" Name="省油" Min="10" Max="11"/>
      <Item Index="2" Name="一般" Min="11" Max="13"/>
      <Item Index="3" Name="较高" Min="13" Max="15"/>
      <Item Index="4" Name="油霸" Min="15" Max="9999"/>
    </CarLevel>
    <CarLevel Id="342" Name="豪华车">
      <Item Index="0" Name="节能" Min="0" Max="11"/>
      <Item Index="1" Name="省油" Min="11" Max="12"/>
      <Item Index="2" Name="一般" Min="12" Max="13"/>
      <Item Index="3" Name="较高" Min="13" Max="15"/>
      <Item Index="4" Name="油霸" Min="15" Max="9999"/>
    </CarLevel>
    <CarLevel Id="425" Name="MPV">
      <Item Index="0" Name="节能" Min="0" Max="11"/>
      <Item Index="1" Name="省油" Min="11" Max="12"/>
      <Item Index="2" Name="一般" Min="12" Max="13"/>
      <Item Index="3" Name="较高" Min="13" Max="15"/>
      <Item Index="4" Name="油霸" Min="15" Max="9999"/>
    </CarLevel>
    <CarLevel Id="424" Name="SUV">
      <Item Index="0" Name="节能" Min="0" Max="10"/>
      <Item Index="1" Name="省油" Min="10" Max="11"/>
      <Item Index="2" Name="一般" Min="11" Max="13"/>
      <Item Index="3" Name="较高" Min="13" Max="15"/>
      <Item Index="4" Name="油霸" Min="15" Max="9999"/>
    </CarLevel>
    <CarLevel Id="426" Name="跑车">
      <Item Index="0" Name="节能" Min="0" Max="13"/>
      <Item Index="1" Name="省油" Min="13" Max="15"/>
      <Item Index="2" Name="一般" Min="15" Max="18"/>
      <Item Index="3" Name="较高" Min="18" Max="20"/>
      <Item Index="4" Name="油霸" Min="20" Max="9999"/>
    </CarLevel>
    <CarLevel Id="482" Name="面包车">
      <Item Index="0" Name="节能" Min="0" Max="12"/>
      <Item Index="1" Name="省油" Min="12" Max="13"/>
      <Item Index="2" Name="一般" Min="13" Max="14"/>
      <Item Index="3" Name="较高" Min="14" Max="15"/>
      <Item Index="4" Name="油霸" Min="15" Max="9999"/>
    </CarLevel>
    <CarLevel Id="483" Name="皮卡">
      <Item Index="0" Name="节能" Min="0" Max="11"/>
      <Item Index="1" Name="省油" Min="11" Max="12"/>
      <Item Index="2" Name="一般" Min="12" Max="13"/>
      <Item Index="3" Name="较高" Min="13" Max="15"/>
      <Item Index="4" Name="油霸" Min="15" Max="9999"/>
    </CarLevel>
  </Params>
  <Params Id="786" Name="加速时间">
    <CarLevel Id="321" Name="微型车">
      <Item Index="0" Name="很次" Min="15" Max="9999"/>
      <Item Index="1" Name="较差" Min="13" Max="15"/>
      <Item Index="2" Name="中等" Min="11" Max="13"/>
      <Item Index="3" Name="良好" Min="8" Max="11"/>
      <Item Index="4" Name="优秀" Min="0" Max="8"/>
    </CarLevel>
    <CarLevel Id="338" Name="小型车">
      <Item Index="0" Name="很次" Min="14" Max="9999"/>
      <Item Index="1" Name="较差" Min="13" Max="14"/>
      <Item Index="2" Name="中等" Min="12" Max="13"/>
      <Item Index="3" Name="良好" Min="9" Max="12"/>
      <Item Index="4" Name="优秀" Min="0" Max="9"/>
    </CarLevel>
    <CarLevel Id="339" Name="紧凑型车">
      <Item Index="0" Name="很次" Min="13" Max="9999"/>
      <Item Index="1" Name="较差" Min="12" Max="13"/>
      <Item Index="2" Name="中等" Min="11" Max="12"/>
      <Item Index="3" Name="良好" Min="8" Max="11"/>
      <Item Index="4" Name="优秀" Min="0" Max="8"/>
    </CarLevel>
    <CarLevel Id="340" Name="中型车">
      <Item Index="0" Name="很次" Min="12" Max="9999"/>
      <Item Index="1" Name="较差" Min="11" Max="12"/>
      <Item Index="2" Name="中等" Min="10" Max="11"/>
      <Item Index="3" Name="良好" Min="8" Max="10"/>
      <Item Index="4" Name="优秀" Min="0" Max="8"/>
    </CarLevel>
    <CarLevel Id="341" Name="中大型车">
      <Item Index="0" Name="很次" Min="12" Max="9999"/>
      <Item Index="1" Name="较差" Min="11" Max="12"/>
      <Item Index="2" Name="中等" Min="10" Max="11"/>
      <Item Index="3" Name="良好" Min="9" Max="10"/>
      <Item Index="4" Name="优秀" Min="0" Max="9"/>
    </CarLevel>
    <CarLevel Id="342" Name="豪华车">
      <Item Index="0" Name="很次" Min="11" Max="9999"/>
      <Item Index="1" Name="较差" Min="10" Max="11"/>
      <Item Index="2" Name="中等" Min="9" Max="10"/>
      <Item Index="3" Name="良好" Min="8" Max="9"/>
      <Item Index="4" Name="优秀" Min="0" Max="8"/>
    </CarLevel>
    <CarLevel Id="425" Name="MPV">
      <Item Index="0" Name="很次" Min="12" Max="9999"/>
      <Item Index="1" Name="较差" Min="11" Max="12"/>
      <Item Index="2" Name="中等" Min="10" Max="11"/>
      <Item Index="3" Name="良好" Min="9" Max="10"/>
      <Item Index="4" Name="优秀" Min="0" Max="9"/>
    </CarLevel>
    <CarLevel Id="424" Name="SUV">
      <Item Index="0" Name="很次" Min="13" Max="9999"/>
      <Item Index="1" Name="较差" Min="12" Max="13"/>
      <Item Index="2" Name="中等" Min="11" Max="12"/>
      <Item Index="3" Name="良好" Min="9" Max="11"/>
      <Item Index="4" Name="优秀" Min="0" Max="9"/>
    </CarLevel>
    <CarLevel Id="426" Name="跑车">
      <Item Index="0" Name="很次" Min="8" Max="9999"/>
      <Item Index="1" Name="较差" Min="7" Max="8"/>
      <Item Index="2" Name="中等" Min="6" Max="7"/>
      <Item Index="3" Name="良好" Min="5" Max="6"/>
      <Item Index="4" Name="优秀" Min="0" Max="5"/>
    </CarLevel>
    <CarLevel Id="482" Name="面包车">
      <Item Index="0" Name="很次" Min="14" Max="9999"/>
      <Item Index="1" Name="较差" Min="13" Max="14"/>
      <Item Index="2" Name="中等" Min="12" Max="13"/>
      <Item Index="3" Name="良好" Min="9" Max="12"/>
      <Item Index="4" Name="优秀" Min="0" Max="9"/>
    </CarLevel>
    <CarLevel Id="483" Name="皮卡">
      <Item Index="0" Name="很次" Min="15" Max="9999"/>
			<Item Index="1" Name="较差" Min="14" Max="15"/>
			<Item Index="2" Name="中等" Min="12" Max="14"/>
			<Item Index="3" Name="良好" Min="10" Max="12"/>
			<Item Index="4" Name="优秀" Min="0" Max="10"/>
    </CarLevel>
  </Params>
  <Params Id="787" Name="制动距离">
    <Item Index="0" Name="很次" Min="46" Max="9999"/>
    <Item Index="1" Name="较差" Min="44" Max="46"/>
    <Item Index="2" Name="中等" Min="42" Max="44"/>
    <Item Index="3" Name="良好" Min="40" Max="42"/>
    <Item Index="4" Name="优秀" Min="0" Max="40"/>
  </Params>
</Root>