<?xml version="1.0" encoding="utf-8" ?>
<PhotoImageConfig
	SavePath="\\192.168.0.174\Data\PhotoImage"
  SerialColorPath="http://imgsvr.bitauto.com/photo/imageservice.aspx?dataname=serialcolorimage&amp;serialid={0}&amp;showfullurl=true&amp;subfix=5&amp;noCache=true"
  SerialColorAllPath="http://imgsvr.bitauto.com/photo/imageservice.aspx?dataname=serialcolorimage&amp;serialid={0}&amp;showfullurl=true&amp;subfix=5&amp;showall=true&amp;noCache=true"
  SerialPhotoListPath="http://imgsvr.bitauto.com/autochannel/autoservice.aspx?sid={0}&amp;noCache=true"
  SerialYearPath="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialyearimages&amp;serialid={0}&amp;year={1}&amp;noCache=true"
  SerialComparePath="http://imgsvr.bitauto.com/autochannel/imagecompareaccount.aspx?min=25&amp;noCache=true"
  SerialPhotoComparePath="http://imgsvr.bitauto.com/autochannel/imagecompare.aspx?CarModelID={0}&amp;noCache=true"
	CarPhotoComparePath="http://imgsvr.bitauto.com/autochannel/imagecompare.aspx?CarModelID={0}&amp;noCache=true"
  SerialClassPath="http://imgsvr.bitauto.com/Photo/HtmlOutput.aspx?dataname=groupandcarlist&amp;id={0}&amp;noCache=true"
  SerialCoverPath="http://imgsvr.bitauto.com/baa/getserialcover.aspx"
  SerialCoverWithoutPath="http://imgsvr.bitauto.com/photo/getseriallist.aspx"
  SerialCoverImageAndCountPath="http://imgsvr.bitauto.com/carimage/GetSerialCoverImageAndWhiteCoverImageList.aspx"
  SerialStandardImagePath="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialstandardimage&amp;serialid={0}&amp;rownum=12&amp;noCache=true"
  CarStandardImagePath="http://imgsvr.bitauto.com/autochannel/carImageService.aspx?dataname=carstandardimagewithaccount&amp;serialid={0}&amp;carid={1}&amp;noCache=true"
  CarCoverImagePath="http://webapi.photo.bitauto.com/photoApi/api/v1/style/GetCoverList?styleIds={0}&amp;cache=false"
  CarFocusImagePath="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialfocusimage&amp;serialid={0}&amp;cId={1}&amp;year={2}&amp;showall=false&amp;showfullurl=true&amp;noCache=true"
  SerialYearFocusImagePath="http://webapi.photo.bitauto.com/photoApi/api/v1/Model/GetCover?id={0}&amp;cache=false"
  SerialDefaultCarPath="http://imgsvr.bitauto.com/autochannel/SerialImageService.aspx?dataname=serialyearcar&amp;showall=false&amp;showfullurl=true&amp;subfix=2&amp;noCache=true"
  SerialDefaultCarImagePath="http://imgsvr.bitauto.com/autochannel/carImageService.aspx?dataname=caraccountbygroup&amp;serialid={0}&amp;carid={1}&amp;showfullurl=true&amp;subfix=1&amp;noCache=true"
  SerialFocusImagePath="http://webapi.photo.bitauto.com/photoApi/api/v1/Model/GetPositionPhotos?id={0}&amp;PositionIds=48,94,96&amp;cache=false"
  SerialColorCountPath="http://imgsvr.bitauto.com/CarImage/GetImageCountingOfSerialBrandForColor.aspx?serialBrandID={0}&amp;noCache=true"
  SerialPhotoHtmlPathNew="http://imgsvr.bitauto.com/CarImageListHtml/SerialBrandIndex.ashx?SerialBrandID={0}&amp;noCache=True"
  SerialYearPhotoHtmlPathNew="http://imgsvr.bitauto.com/CarImageListHtml/SerialBrandCarYearIndex.ashx?SerialBrandID={0}&amp;CarYear={1}&amp;noCache=True"
  CarPhotoHtmlPathNew="http://imgsvr.bitauto.com/CarImageListHtml/CarModelIndex.ashx?CarModelId={0}&amp;noCache=True"
	SerialPositionImagePath="http://imgsvr.bitauto.com/CarImage/GetAllCategoriesAndSomePositionImagesForSerialBrand.aspx?serialBrandID={0}&amp;positionIDs=47,43,46,94,97,215,216&amp;noCache=true"
	SerialColorImagePath="http://imgsvr.bitauto.com/Carimage/CarImageOfCarYearColorAndPosition.aspx?serialbrandid={0}&amp;CarYearColors={1}&amp;PositionIds=47,43,48,46,50,44,49,45&amp;noCache=true"
	SerialElevenImagePath="http://imgsvr.bitauto.com/Carimage/CarImageListOfConstantsPositionIds.aspx?serialbrandid={0}&amp;PositionIds=47,94,43,46,44,97,95,96,215,218,216,416&amp;noCache=true"
	SerialDefaultCarFillImagePath="http://imgsvr.bitauto.com/carimage/DefaultCarModelImageList.aspx?serialbrandid={0}&amp;count=12&amp;noCache=true"
	SerialReallyColorImagePath="http://imgsvr.bitauto.com/Carimage/CarColorListGroupByCarYear.aspx?serialbrandid={0}&amp;noCache=true"
  CarImagesListInfoPath="http://imgsvr.bitauto.com/carimage/GetImagesForCarModelUseMultiPositionGroupIds.aspx?serialbrandid={0}&amp;carmodelid={1}&amp;positionGroupIDs=6,7,8&amp;Count=9"
  SerialOfficalImagePath="http://imgsvr.bitauto.com/carimage/GetSourcePositionImageForSerialBrand.aspx?serialbrandid={0}&amp;sourceid={1}&amp;positiongroupid={2}&amp;count={3}"
  SerialFourthStagePositionImagePath="http://imgsvr.bitauto.com/CarImage/GetDefaultCarModelImageListByPositionId.aspx?serialBrandID={0}&amp;positionId={1}&amp;pageindex={2}&amp;pageSize={3}"
  SerialFourthStageSourceImagePath="http://imgsvr.bitauto.com/CarImage/GetSourceImagesForSerialBrandUsePage.aspx?serialBrandID={0}&amp;sourceID={1}&amp;pageNum={2}&amp;pageSize={3}"
  CarImagesCountPath="http://imgsvr.bitauto.com/CarImageCounting/GetImageCountForCarModel.aspx?noCache=true"
  SerialCarReallyImagePath="http://webapi.photo.bitauto.com/photoApi/api/v1/Photo/GetList?ModelId={0}&amp;StyleId={1}&amp;AlbumType=1"
  SerialSlidePageImagePath="http://webapi.photo.bitauto.com/photoApi/api/v1/Photo/GetList/?ModelId={0}"
	/>
<!--SerialThreeStandardImagePath="http://imgsvr.bitauto.com/autochannel/SerialThreeStandardImages.ashx?SerialBrandId={0}"
	SerialYearColorUrlPath="http://imgsvr.bitauto.com/autochannel/SerialCarYearColorUrl.ashx?SerialBrandId={0}"-->