<?xml version="1.0" encoding="utf-8"?>
<root>
  <word name="急性子" id="1000">
    <item id="534" name="动力充足" />
    <item id="535" name="动力给力" />
    <item id="536" name="动力猛" />
    <item id="533" name="动力强大" />
    <item id="532" name="动力强劲" />
    <item id="537" name="加速畅快" />
    <item id="540" name="加速给力" />
    <item id="541" name="加速平顺" />
    <item id="538" name="加速线性" />
    <item id="548" name="起步很猛" />
    <item id="547" name="起步灵敏" />
    <item id="546" name="起步敏捷" />
    <item id="544" name="强烈推背感" />
    <item id="543" name="推背明显" />
    <item id="542" name="推力明显" />
    <item id="577" name="油门给力" />
    <item id="574" name="油门积极" />
    <item id="578" name="油门灵敏" />
    <item id="575" name="油门响应快" />
    <item id="545" name="有推背感" />
  </word>
  <word name="坐着舒服" id="1001">
    <item id="703" name="乘坐空间舒服" />
    <item id="701" name="乘坐空间舒适" />
    <item id="334" name="乘坐舒适" />
    <item id="568" name="换挡灵敏" />
    <item id="564" name="换挡平顺" />
    <item id="566" name="换挡舒服" />
    <item id="567" name="换挡顺畅" />
    <item id="565" name="换挡顺滑" />
    <item id="332" name="座椅非常舒适" />
    <item id="331" name="座椅很舒适" />
    <item id="506" name="座椅加热" />
    <item id="333" name="座椅舒服" />
    <item id="500" name="座椅做工精致" />
    <item id="352" name="隔音不错" />
    <item id="350" name="隔音好" />
  </word>
  <word name="颜控" id="1002">
    <item id="405" name="动感外观" />
    <item id="494" name="简约时尚" />
    <item id="408" name="外观非常时尚" />
    <item id="406" name="外观很时尚" />
    <item id="404" name="外观时尚" />
    <item id="407" name="外观很动感" />
    <item id="430" name="犀利大灯" />
    <item id="425" name="车身美观" />
    <item id="431" name="车身犀利" />
    <item id="427" name="灵动外观" />
    <item id="416" name="流畅线条" />
    <item id="410" name="外观大气" />
    <item id="413" name="外观非常大气" />
    <item id="412" name="外观很大气" />
    <item id="411" name="外观很稳重" />
    <item id="428" name="外观设计美观" />
    <item id="420" name="外观设计优雅" />
    <item id="409" name="外观稳重" />
    <item id="429" name="外观犀利" />
    <item id="421" name="外观优雅" />
    <item id="432" name="车身线条犀利" />
    <item id="417" name="钻石切割" />
  </word>
  <word name="车里宽敞" id="1003">
    <item id="485" name="布局非常合理" />
    <item id="484" name="布局很合理" />
    <item id="668" name="超大空间" />
    <item id="665" name="车内空间大" />
    <item id="666" name="车身空间大" />
    <item id="700" name="乘坐空间合理" />
    <item id="702" name="乘坐空间宽松" />
    <item id="667" name="大空间" />
    <item id="671" name="空间不错" />
    <item id="673" name="空间感好" />
    <item id="672" name="空间可以" />
    <item id="669" name="空间宽敞" />
    <item id="699" name="空间宽适" />
    <item id="698" name="空间宽松" />
    <item id="670" name="空间实用" />
    <item id="697" name="空间舒服" />
    <item id="680" name="头部空间充裕" />
    <item id="682" name="头部空间高" />
    <item id="683" name="头部空间好" />
    <item id="681" name="头部空间宽敞" />
    <item id="675" name="腿部空间充裕" />
    <item id="678" name="腿部空间充足" />
    <item id="679" name="腿部空间宽敞" />
    <item id="677" name="腿部空间宽松" />
    <item id="684" name="后排乘坐空间充裕" />
    <item id="685" name="后排乘坐空间舒适" />
  </word>
  <word name="人车合一" id="1004">
    <item id="603" name="操控便捷" />
    <item id="607" name="操控不费力" />
    <item id="601" name="操控方便" />
    <item id="624" name="操控感强" />
    <item id="599" name="操控灵敏" />
    <item id="600" name="操控灵巧" />
    <item id="621" name="操控平顺" />
    <item id="620" name="操控惬意" />
    <item id="604" name="操控省力" />
    <item id="619" name="操控舒服" />
    <item id="626" name="操控舒适" />
    <item id="618" name="操控顺畅" />
    <item id="622" name="操控稳" />
    <item id="623" name="操控稳当" />
    <item id="625" name="操控稳定" />
    <item id="602" name="操控响应快" />
    <item id="605" name="操作省力" />
    <item id="634" name="方向盘操控好" />
    <item id="613" name="过弯不错" />
    <item id="614" name="过弯不飘" />
    <item id="337" name="过弯非常平稳" />
    <item id="336" name="过弯很平稳" />
    <item id="615" name="过弯很稳" />
    <item id="338" name="过弯平稳" />
    <item id="617" name="过弯舒服" />
    <item id="627" name="路感清晰" />
    <item id="612" name="指向精确" />
    <item id="610" name="指向明确" />
    <item id="608" name="指向清晰" />
    <item id="611" name="指向性好" />
    <item id="609" name="指向准确" />
    <item id="335" name="转向平稳" />
  </word>
  <word name="肌肉车" id="1005">
    <item id="418" name="肌肉感强" />
    <item id="414" name="车身线条硬朗" />
    <item id="415" name="硬朗霸气" />
  </word>
  <word name="苦逼上班族" id="1006">
    <item id="426" name="车身小巧" />
    <item id="424" name="车身灵巧" />
    <item id="423" name="外观很精致" />
    <item id="422" name="外观精致" />
    <item id="419" name="外观设计精致" />
  </word>
  <word name="出门零碎多" id="1007">
    <item id="688" name="储物空间充裕" />
    <item id="690" name="储物空间充足" />
    <item id="689" name="储物空间大" />
    <item id="692" name="储物空间多" />
    <item id="693" name="后备箱空间充裕" />
    <item id="695" name="后备箱空间好" />
    <item id="694" name="后备箱空间实用" />
  </word>
</root>



















































































































































































































































































































































































