<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ConnectionStringSettings" type="BitAuto.CarDataUpdate.Config.ConnStringSettings, Config"/>
		<section name="CommonSettings" type="BitAuto.CarDataUpdate.Config.CommonSettings, Config"/>
		<section name="CarNewsTypeSettings" type="BitAuto.CarDataUpdate.Config.CarNewsTypeSettingsHandler, Config"/>
		<section name="NewsCategoryConfig" type="BitAuto.CarDataUpdate.Config.NewsCategoryConfigHandler, Config"/>
		<!--<section name="VideoCategoryConfig" type="BitAuto.CarDataUpdate.Config.VideoCategoryConfigHandler, Config"/>-->
		<section name="PhotoImageConfig" type="BitAuto.CarDataUpdate.Config.PhotoImageConfig, Config"/>
		<section name="MessageQueueConfig" type="BitAuto.CarDataUpdate.Config.BusinessMessageQueueHandler, Config"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
		<section name="BitAuto.Utils.CommonPlatformConfig" type="BitAuto.Utils.Config.CommonPlatformConfiurationSectionHandler, BitAuto.Utils" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<log4net configSource="config\log4net.config"/>
	<!--数据库连接字符串-->
	<ConnectionStringSettings configSource="config\ConnectionString.config"/>
	<!--数据库连接字符串 end-->
	<!--公用配置-->
	<CommonSettings configSource="config\Common.config"/>
	<!--公用配置 end-->
	<!--车型新闻类型配置-->
	<CarNewsTypeSettings configSource="config\CarNewsType.config"/>
	<!--车型新闻类型配置 end-->
	<!--cms分类配置-->
	<NewsCategoryConfig configSource="config\NewsCategory.config"/>
	<!--cms视频分类配置-->
	<!--<VideoCategoryConfig configSource="config\VideoCategory.config"/>-->
	<!--cms分类配置 end-->
	<PhotoImageConfig configSource="config\PhotoImage.config"/>
	<!--服务各业务消息队列配置文件-->
	<MessageQueueConfig configSource="config\MessageQueueConfig.config"/>
	<appSettings>
		<add key="IsWriteLog" value="true"/>
		<add key="ContentType_CMS_NEWS" value="BitAuto.CarDataUpdate.NewsProcesser.MessageProcesser, NewsProcesser"/>
		<add key="ContentType_CMS_NewsComment" value="BitAuto.CarDataUpdate.NewsCommentProcesser.MessageProcesser, NewsCommentProcesser"/>
		<add key="ContentType_EP_JiangJiaNews" value="BitAuto.CarDataUpdate.JiangJiaNewsProcesser.MessageProcesser, JiangJiaNewsProcesser"/>
		<add key="ContentType_Car_SerialPingceBlock" value="BitAuto.CarDataUpdate.CarMessageProcesser.SerialPingceBlock, CarMessageProcesser"/>
		<add key="ContentType_Photo_SerialFocusImage" value="BitAuto.CarDataUpdate.CarMessageProcesser.Photo.SerialFocusImage, CarMessageProcesser"/>
		<add key="ContentType_Photo_SerialYearFocusImage" value="BitAuto.CarDataUpdate.CarMessageProcesser.Photo.SerialYearFocusImage, CarMessageProcesser"/>
		<add key="ContentType_Photo_CarFocusImage" value="BitAuto.CarDataUpdate.CarMessageProcesser.Photo.CarFocusImage, CarMessageProcesser"/>
		<!--车型详细参数 start-->
		<add key="ContentType_Car_Car" value="BitAuto.CarDataUpdate.CarMessageProcesser.CarInfo.Car, CarMessageProcesser"/>
		<add key="ContentType_Car_Serial" value="BitAuto.CarDataUpdate.CarMessageProcesser.CarInfo.Serial, CarMessageProcesser"/>
		<add key="ContentType_Car_Brand" value="BitAuto.CarDataUpdate.CarMessageProcesser.CarInfo.Brand, CarMessageProcesser"/>
		<add key="ContentType_Car_MasterBrand" value="BitAuto.CarDataUpdate.CarMessageProcesser.CarInfo.MasterBrand, CarMessageProcesser"/>
		<add key="ContentType_Car_Producer" value="BitAuto.CarDataUpdate.CarMessageProcesser.CarInfo.Producer, CarMessageProcesser"/>
		<!--图库接口数据生成 start-->
		<add key="ContentType_Photo_Serial" value="BitAuto.CarDataUpdate.CarMessageProcesser.Photo.Serial, CarMessageProcesser"/>
    <add key="ContentType_Photo_Car" value="BitAuto.CarDataUpdate.CarMessageProcesser.Photo.Car, CarMessageProcesser"/>
		<add key="ContentType_Photo_SerialCoverImage" value="BitAuto.CarDataUpdate.CarMessageProcesser.Photo.SerialCoverImage, CarMessageProcesser"/>
		<!--综述页买车必看块生成 start-->
		<add key="ContentType_Car_SerialPingjiaBlock" value="BitAuto.CarDataUpdate.CarMessageProcesser.SerialPingjiaBlock, CarMessageProcesser"/>
		<!--CMS 视频 start-->
		<!--<add key="ContentType_CMS_Video" value="BitAuto.CarDataUpdate.CarMessageProcesser.CMS.Video, CarMessageProcesser"/>-->
    
    <!--口碑印象字典url-->
    <add key="KeibeiImpressionWordDicUrl" value="http://image.bitautoimg.com/koubei/Statistics/serial/words/{year}/{month}/{day}/worddic.xml"/>
    <!--子品牌对应口碑印象url-->
    <add key="KeibeiImpressionSerialWordsUrl" value="http://image.bitautoimg.com/koubei/Statistics/serial/words/{year}/{month}/{day}/serialwords.xml"/>
    <!--口碑评分明细url-->
    <!--<add key="KoubeiRatingDetailUrl" value="http://admin.bitauto.com/include/baa/koubei/carstatistics/{yearmonth}.xml"/>-->
    <add key="KoubeiRatingDetailUrl" value="http://image.bitautoimg.com/koubei/statistics/allcar/{yearmonth}.xml"/>
	</appSettings>
	<BitAuto.Utils.CommonPlatformConfig>
		<CommonConfig>
			<CacheConfig defaultProvider="EnyimProvider">
				<providers>
					<!-- 
			        servers="127.0.0.1:11211"  memcache服务端列表，
			        socketConnectTimeout="1000"  socket链接超时时间
			        socketTimeout="1000"		socket超时时间
			        defaultExpireTime="5000000"  默认的缓存时间，单位是毫秒
              <add name="MemcachedCacheProvider" type="BitAuto.Services.Cache.MemcachedCacheProvider,BitAuto.Services"
						 servers="192.168.200.126:11211,192.168.200.126:11211" socketConnectTimeout="1000" socketTimeout="1000" defaultExpireTime="5000000"/>
			    -->
					<!-- 
			    如果采用了EnyimProvider，只有type和defaultExpireTime属性生效，其他参数在<enyim.com>配置节中指定
			    -->
					<add name="EnyimProvider" type="BitAuto.Services.Cache.EnyimProvider,BitAuto.Services" defaultExpireTime="5000000"/>
				</providers>
			</CacheConfig>
		</CommonConfig>
	</BitAuto.Utils.CommonPlatformConfig>
	<enyim.com>
		<memcached>
			<servers>
				<!--<add address="192.168.0.173" port="11211" />-->
				<add address="192.168.200.126" port="11212"/>
				<add address="192.168.200.126" port="11211"/>
				<!-- 线上切换成内网地址 -->
				<!--<add address="59.151.102.126" port="11212" />-->
				<!--<add address="59.151.102.227" port="11212" />-->
				<!--<add address="192.168.0.145" port="11212" />-->
				<!--<add address="192.168.0.233" port="11212" />-->
				<!-- 线上配置 add by chengl Mar.27.2014 内存1G
				<add address="192.168.0.147" port="11217"/>
				<add address="192.168.0.252" port="11217"/>
				<add address="192.168.0.232" port="11217"/>
				-->
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
		</memcached>
	</enyim.com>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
